@import "normalize.css";

*,
::before,
::after {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: url("../assets/images/code-bg.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.wrapper {
    position: relative;
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 16px rgba(51, 51, 51, 0.08);
}

/* Header */

.header {
    max-width: 100%;
    width: 650px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.subtitle {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}

/* Form */

label {
    margin: 10px 0;
    font-size: 18px;
}

input,
select {
    display: block;
    margin: 10px 0 40px 0;
    border: none;
}

input::placeholder {
    color: rgba(17, 17, 17, 0.48);
}

/* Text input */

input[type="text"] {
    width: 100%;
    height: 56px;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 16px rgba(51, 51, 51, 0.08);
    transition: box-shadow 0.1s linear;
}

input[type="text"]:focus {
    width: 100%;
    height: 56px;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 24px rgba(51, 51, 51, 0.24);
}

/* Number input */

input[type="number"] {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 16px rgba(51, 51, 51, 0.08);

    transition: box-shadow 0.1s linear;
}

input[type="number"]:focus {
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 24px rgba(51, 51, 51, 0.24);
}

/* Select input */

select {
    position: relative;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    color: rgba(17, 17, 17, 0.48);
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 16px rgba(51, 51, 51, 0.08);
    transition: box-shadow 0.1s linear;
    appearance: none;
}

.select-container {
    position: relative;
}

.select-container::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    display: block;
    width: 15px;
    height: 10px;
    background: url("../assets/images/expand_more.svg") no-repeat;
}

select:focus {
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 24px rgba(51, 51, 51, 0.24);
}

.features {
    display: block;
    margin-top: 40px;
}

/* Radio buttons */

input[type="radio"] {
    display: inline-block;
    margin: 0;
    opacity: 0;
}

.radio-container {
    position: relative;
    display: block;
    display: table;
    padding: 2px 0 2px 36px;
    user-select: none;
}

.radio-checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
    background: #e3daf9;
    border-radius: 50%;
    transition: all 0.1s linear;
}

.radio-checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.radio-container:hover input ~ .radio-checkmark {
    background: #6e41e2;
    opacity: 0.56;
}

.radio-container input:checked ~ .radio-checkmark {
    background: #6e41e2;
    opacity: 1;
}

input[type="radio"]:checked ~ .radio-checkmark::after {
    opacity: 1;
}

/* Checkboxes */

.checkbox-wrapper {
    margin-bottom: 40px;
}

input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    opacity: 0;
}

.checkbox-container {
    position: relative;
    display: block;
    display: table;
    padding: 2px 0 2px 36px;
    user-select: none;
}

.checkbox-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: solid 1px #d4d4d4;
    border-radius: 4px;
    transition: background 0.1s linear;
}

.checkbox-mark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 9px;
    opacity: 0;
    background: url("../assets/images/checked.svg") no-repeat;
    transition: opacity 0.1s linear;
}

.checkbox-container input:hover ~ .checkbox-mark {
    background: #fafafa;
    border: solid 1px #d4d4d4;
}

input[type="checkbox"]:checked ~ .checkbox-mark::after {
    opacity: 1;
}

input[type="checkbox"]:checked ~ .checkbox-mark {
    background: #6e41e2;
}

/* Text area */

.comments-textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 120px;
    margin: 10px 0 30px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 16px rgba(51, 51, 51, 0.08);
    transition: box-shadow 0.1s linear;
}

.comments-textarea:focus {
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04),
        0 4px 24px rgba(51, 51, 51, 0.24);
}

/* Submit button */

.submit-button {
    width: 590px;
    max-width: 100%;
    padding: 15px 0;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: #6e41e2;
    transition: background 0.1s linear;
}

.submit-button:hover {
    background: #5835b0;
}

.submit-button:active {
    background: #472c8a;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
}
